h1 {
  text-align: center;
}

.navbarFooter {
  margin-bottom: 5px;
  background-color: black;
  /* background-color: rgb(255, 201, 23); */
}

.cardSpacing {
  margin: 10px 10px;
  box-shadow: 0 0.1rem 0.2rem; 
}

.navbarSearch {
  background-color: rgb(255, 201, 23);
  margin-bottom: 40px;
}

.footerPos {
  height: 40px;
  width: 100vw;
  margin-top: 10px;
}

.container {
  min-height: calc(100vh - 113px);
}

.topCard{
  margin: 10px 10px;

}

.topCard img{

  object-fit: contain;
  
}

.between{
  justify-content: space-between;
}

.modalPop{
  height: 25%;
  top: auto;
  left: auto;
}